@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *:focus {
    outline: none !important;
  }

  *:focus-visible {
    outline: none !important;
  }

  *:focus-within {
    outline: none !important;
  }

  input:focus,
  select:focus,
  button:focus,
  textarea:focus {
    outline: none !important;
    ring: none !important;
    box-shadow: none !important;
  }

  .link_icon:hover {
    transform: scale(1.1);
    transition: transform 0.25s linear;
  }

  .dark .link_icon {
    filter: invert();
  }
}
